@font-face{
    font-family: Rainbow;
    src: url('Rainbow.ttf');
}

body{
    margin: 0;
    padding: 0;
    background-color:#000000 ;
    font-family: 'Times New Roman', Times, serif;
    color:whitesmoke;
}

.main-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 2em;
}
.line{
    width: 35px;
    height: 5px;
    background-color: whitesmoke;
    margin: 6px 0;
}
.ddl{
    margin-right: 4em;
}
header,footer{
    padding: 0 30px;
}
.img-footer img{
    margin-top: 0px !important;
    height: 40px;
    width: 40px;
}
footer h3{
    font-family: Rainbow;
    font-size: 40pt;
    text-align: center;
}
footer p{
    font-family: Bahnschrift;
    font-weight: lighter;
    font-size: 20pt;
    text-align: center;
    letter-spacing: -0.3px;
}
header{
    padding: 1em;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #424b54;   
}
a{
    text-decoration: none;
    color: white;
}
.company-logo img{
        height: auto;
        width: auto;
        max-width: 80px;
}

footer div img{
    height: 50px;
    margin-right: 1em;
} 
.btn-nav >a{
    margin-right: 15px;
}
header .btn-nav{
    font-size: 20px;
}
footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: rainbow;
    font-size: 20pt;
    color: whitesmoke;
    letter-spacing: 1px;
    border-top: 4px solid #cfd8a9;
}

@media(max-width: 800px) {
    footer img {
        width: 15px;
        height: 1px;
    }
    footer h3{
        font-family: Rainbow;
        font-size: 20pt;
        text-align: center;
       }
    
       footer p{
        font-size: 15px !important;
       }
       footer div img{
        height: 30px;
        width: 20px;
        margin: 2em;
       }
    /* default size untuk text di layar kecil kalo gacocok override aja di css sendiri */
    *{
        font-size: 10px;   
    }
  }
  .logo-size {
    height: 50px;
    width: auto;
    max-width: 80px;
  }
/* Dropdown Button */
.dropbtn {
    background-image: url('../Assets/Hamburger-menu-white@4x.png');
    background-size: 30px 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    font-family: Bahnschrift;
    font-weight: lighter;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}